StopoverAdminPanel/Connected Services/StopoverHolidaysServiceReference/StopoverHolidaysService75.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Content" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Content" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MInformation" nillable="true" type="tns:MInformation" />
</xs:schema>