StopoverAdminPanel/Connected Services/StopoverHolidaysServiceReference/StopoverHolidaysService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stopoverholidayswcf-new-version-test-slot.azurewebsites.net/StopoverHolidaysService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" />
  <xs:import schemaLocation="http://stopoverholidayswcf-new-version-test-slot.azurewebsites.net/StopoverHolidaysService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" />
  <xs:import schemaLocation="http://stopoverholidayswcf-new-version-test-slot.azurewebsites.net/StopoverHolidaysService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q1:AuthenticateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="AuthenticateResult" nillable="true" type="q2:AuthenticateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q3:FirstStepRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="FirstStepResult" nillable="true" type="q4:FirstStepResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecondStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q5:SecondStepRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecondStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="SecondStepResult" nillable="true" type="q6:SecondStepResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThirdStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q7:ThirdStepRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThirdStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="ThirdStepResult" nillable="true" type="q8:ThirdStepResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FourthStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="stepRequest" nillable="true" type="q9:FourthStepRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FourthStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="FourthStepResult" nillable="true" type="q10:FourthStepResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FifthStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q11:FifthStepRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FifthStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="FifthStepResult" nillable="true" type="q12:FifthStepResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SixthStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q13:SixthStepRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SixthStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="SixthStepResult" nillable="true" type="q14:SixthStepResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeventhStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q15:SeventhStepRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeventhStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="SeventhStepResult" nillable="true" type="q16:SeventhStepResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q17:GetActivitiesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q18:GetActivitiesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q19:GetCitiesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="GetCitiesResult" nillable="true" type="q20:GetCitiesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q21:GetFlightsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="GetFlightsResult" nillable="true" type="q22:GetFlightsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q23:CreateOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="CreateOrderResult" nillable="true" type="q24:CreateOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Requests" minOccurs="0" name="request" nillable="true" type="q25:ConfirmOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="ConfirmOrderResult" nillable="true" type="q26:ConfirmOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVouchersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVoucherTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVoucherToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendVoucherToResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveOrderCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="airfareTaxes" type="xs:decimal" />
        <xs:element minOccurs="0" name="isOffline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveOrderCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/StopoverHolidaysWCF.Models.Responses" minOccurs="0" name="SolveOrderCostResult" nillable="true" type="q27:MainResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPointToPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="routes" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPointToPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPointToPointResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTransit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="routes" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTransitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTransitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>